body {
    padding-inline: 1rem;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

img {
    max-width: 250px;

}

.playback-info__artist {
    color: #2A6194;
}

.playback-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: black;
}
.playback-controls button {
    cursor: pointer;
    height: 2rem;                        /* be sure to set height & width */
    width:  2rem;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.playback-controls__play, .playback-controls__pause{
    height: 3rem !important;
    width: 3rem !important;
    margin-inline: 1rem;
}
.playback-controls__pause {
    display: none;
}
.playback-controls__backtrack {
    background-image: url(../assets/backtrack.svg) !important;
}
.playback-controls__play {
    background-image: url(../assets/playbutton.svg) !important;
}
.playback-controls__pause {
    background-image: url(../assets/pausebutton.svg) !important;
}
.playback-controls__forwardtrack {
    background-image: url(../assets/forwardtrack.svg) !important;
}

.spotify-logo {
    display: flex;
    justify-content: center;
}
.spotify-logo img {
    max-width: 5rem;
}





.green {
    color: green;
}

.red {
    color: red;
}